@font-face
{
	font-family: Square;
	src: url(fonts/Square.ttf);
}

@font-face
{
	font-family: Roboto;
	src: url(fonts/Roboto-Thin.ttf);
}

body
{
	background: rgb(48, 51, 51);
	background: -moz-linear-gradient(20deg, rgb(32, 35, 35) 15%, rgb(48, 51, 51) 85%);
	background: -webkit-linear-gradient(20deg, rgb(32, 35, 35) 15%, rgb(48, 51, 51) 85%);
	background: -o-linear-gradient(20deg, rgb(32, 35, 35) 15%, rgb(48, 51, 51) 85%);
	background: -ms-linear-gradient(20deg, rgb(32, 35, 35) 15%, rgb(48, 51, 51) 85%);
	background: linear-gradient(110deg, rgb(32, 35, 35) 15%, rgb(48, 51, 51) 85%);
	background-repeat: no-repeat;
    background-attachment: fixed;
	
	color: #CCC;
	
	margin: 0;
	padding: 0;
}

#main-container
{
	width: 100%;
	position: absolute;
}

#header
{
	text-align: center;
}

.logo
{
	clear: both;
	margin-bottom: 10px;
}

.logo img
{
	width: 100%;
	height: auto;
}

.title
{
	color: #EEE;
	text-align: center;
	font: 3em Square, sans;
	margin: 0;
	
	display: none;
}

.subtitle
{
	text-align: center;
	font: 1.2em/1.3em Roboto, sans;
	margin: 0 auto;
}

.subtitle .highlight
{
	color: #F53;
}

#links
{
	clear: both;
	text-align: center;
	margin-top: 10px;
}

#links a
{
	padding-left: 10px;
}

#recent-ep-toggle
{
	clear: both;
	text-align: center;
	display: none;
}

#recent-ep-label
{
	font: 18pt Roboto, sans;
}

#recent-ep-container
{
	text-align: left;
	margin-top: 20px;
	display: inline-block;
}

/* handling non-mobile */
@media screen and (min-width: 850px)
{

.logo
{
	float: left;
	clear: none;
	margin-right: 10px;
	margin-bottom: 10px;
}

.logo img
{
	width: 200px;
}

#main-container
{
	width: 800px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#links
{
	float: right;
}

.title
{
	font-size: 4em;
	display: block;
}

.subtitle
{
	font-size: 2em;
}

}